#joke {
    text-align: center;
    margin: auto;
    padding: 85px;
    font-size:3rem;
    color: yellow;
  }

#title {
    padding: 30px;
    font-size:4rem;
    color: white;
    text-decoration: underline;
}
